@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

.poppins-black{
  font-family: "Poppins-Black";
}

.poppins-bold{
  font-family: "Poppins-Bold";
}

body {
  font-family: "Poppins";
  /* color: rgb(251, 255, 0); */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 270 100% 98%;
    --foreground: 262 0% 10%;
    --card: 262 0% 100%;
    --card-foreground: 262 0% 15%;
    --popover: 262 0% 100%;
    --popover-foreground: 262 95% 10%;
    --primary: 262 80.6% 69.6%;
    --primary-foreground: 0 0% 0%;
    --secondary: 262 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 10% 95%;
    --muted-foreground: 262 0% 40%;
    --accent: 224 10% 90%;
    --accent-foreground: 262 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 262 0% 100%;
    --border: 262 20% 82%;
    --input: 262 20% 50%;
    --ring: 262 80.6% 69.6%;
    --radius: 0.65rem;
    --chart-1: 120 70% 40%; /* More green */
    --chart-2: 0 80% 50%; /* More red */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 262 10% 5%;
    --foreground: 262 0% 100%;
    --card: 262 0% 10%;
    --card-foreground: 262 0% 100%;
    --popover: 262 10% 5%;
    --popover-foreground: 262 0% 100%;
    --primary: 262 80.6% 69.6%;
    --primary-foreground: 0 0% 0%;
    --secondary: 262 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 10% 25%;
    --muted-foreground: 262 0% 65%;
    --accent: 224 10% 25%;
    --accent-foreground: 262 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 262 0% 100%;
    --border: 262 20% 50%;
    --input: 262 20% 50%;
    --ring: 262 80.6% 69.6%;
    --radius: 0.5rem;
        --chart-1: 120 70% 40%; /* More green */
    --chart-2: 0 80% 50%; /* More red */
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

.primary_gradient {
  /* @apply bg-gradient-to-b from-[#A073f0] to-[#7886DD]; */
  /* bg */


/* Secondary color */
background: linear-gradient(180deg, #A073F0 0%, #7886DD 100%);

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  /* Webkit-based browsers (Chrome, Safari) scrollbar styling */
  *::-webkit-scrollbar {
    @apply w-2 h-2 bg-transparent;
  }

  *::-webkit-scrollbar-track {
    @apply bg-accent/25 rounded-full;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-primary/25 hover:bg-primary/75 rounded-full;
  }

}